@model CustomerMVCApp.Models.Customer

<h2>Create New Customer</h2>

<form asp-action="Create" method="post">
    <div>
        <label>First Name</label>
        <input type="text" name="FirstName" />
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="LastName" />
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="Email" />
    </div>
    <div>
        <label>Phone</label>
        <input type="text" name="Phone" />
    </div>
    <button type="submit">Create</button>
</form>
